
<ion-header>

</ion-header>


<ion-content padding *ngIf="movie">
    <img class="poster" src="http://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" >
    <h1>{{movie.original_title}}</h1>
    <p>{{movie.overview}}</p>

  <button ion-button clear color="green_glas" (click)="addToAlreadyWatched()" *ngIf="isAuthenticated && !disableButtons" >Add to Already Watched</button>
    <button ion-button clear color="green_glas" (click)="addToFutureWatch()" *ngIf="isAuthenticated && !disableButtons">Add to Future Watch</button>

     <ion-footer>
        <button ion-button block color="dark" (click)="closeMovieDetail()">Close</button>
     </ion-footer>
</ion-content>
