
<ion-header>
  <ion-navbar>
    <button ion-button block (click)="closeMovieDetail()">Close</button>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="movie">
    <img class="poster" src="http://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" >
    <h1>{{movie.original_title}}</h1>
    <h6>{{movie.overview}}</h6>

    <button ion-button *ngIf="isAuthenticated" >Add to Already Watched</button>
    <button ion-button (click)="addToFutureWatch()" *ngIf="isAuthenticated">Add to Future Watch</button>

</ion-content>
