
<ion-header>
  <ion-toolbar>
  <ion-searchbar 
                [(ngModel)]="queryText"
                (ionInput)="searchMovie()"
                >
   </ion-searchbar>
    </ion-toolbar>
  <ion-navbar>
    <button (click)="login()" *ngIf="!isAuthenticated" >Log in</button>
    <button (click)="register()" *ngIf="!isAuthenticated" >Register</button>
    <button (click)="logout()" *ngIf="isAuthenticated" >Logout</button>
 </ion-navbar>
</ion-header>


<ion-content padding >
    <ion-grid>
        <ion-row *ngFor="let row of grid">
            <ion-col width-50 *ngFor="let movie of row">
              <img *ngIf='movie' class="poster" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" (click)="itemTapped(movie)"/>
               </ion-col>
              </ion-row>
      </ion-grid>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>


      
</ion-content>
